{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "func-names": ["warn", "never"],
    "semi": ["warn", "never"],
    "quotes": ["warn", "double"],
    "import/no-unresolved": 1,
    "no-console": 1,
    "no-unused-vars": 1,
    "import/newline-after-import": 0
  }
}
